body{
	color:aqua;
	width: 100%;
	height: 100%;
}
div{
	width:100%;
	height:100%;
}

h4{

	background-color: green;
	text-align: right;
	color:yellow;

}
h1{
	text-align:center;
	background-color: yellow;
	color:orange;
}
h5{
	background-color: hotpink;


}